---
layout: archive
#title: "Awards"
permalink: /awards/
author_profile: true
---

<!-- Research Recognition Section -->
<h2>Research Recognitions</h2>
<hr>
<ul>
  {% assign research_recognition = site.awards | where: "category", "Research Recognition" | sort: "date" | reverse %}
  {% for award in research_recognition %}
    <li>
      {% if award.designation %}
        <em>{{ award.designation }}</em>, 
      {% endif %}
      <strong>{{ award.title }}</strong>, {{ award.year }}
    </li>
  {% endfor %}
</ul>

<h2>Honors and Scholarships</h2>
<hr>
<ul>
  {% assign honors = site.awards | where: "category", "Honors" | sort: "date" | reverse %}
  {% for award in honors %}
    <li>
      <strong>{{ award.title }}</strong>
      {% if award.institution_chinese %} ({{ award.institution_chinese }}){% endif %}, {{ award.institution }}, {{ award.year }}.<br>
      <em>{{ award.description }}</em>
    </li>
  {% endfor %}
</ul>
