---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h1>Research</h1>

<!-- Selected Working Papers Section -->
<h2>Selected Working Papers</h2>
<hr>
{% assign working_papers = site.publications | where: "category", "Working Papers" %}
<ul>
  {% for paper in working_papers %}
    <li>
      <strong>{{ paper.title }}</strong><br>
      {{ paper.authors }}<br>
      {% if paper.award %}
        <em>{{ paper.award }}</em><br>
      {% endif %}
      {% if paper.preliminary %}
        <small>Preliminary version: {{ paper.preliminary }}</small>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<!-- <!-- Journal Publications Section -->
<h2>Journal Publications</h2>
<hr>
{% assign journal_papers = site.publications | where: "category", "Journal Publications" %}
<ul>
  {% for paper in journal_papers %}
    <li>
      <strong>{{ paper.title }}</strong><br>
      {{ paper.authors }}<br>
      {{ paper.journal }}{% if paper.status %} ({{ paper.status }}){% endif %}<br>
      {% if paper.preliminary %}
        <small>Preliminary version: {{ paper.preliminary }}</small>
      {% endif %}
      {% if paper.award %}
        <em>{{ paper.award }}</em><br>
      {% endif %}
    </li>
  {% endfor %}
</ul> -->



