---
layout: archive
#title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- Selected Working Papers Section -->
<h1>Selected Working Papers</h1>
<hr>
{% assign working_papers = site.publications | where: "category", "Working Papers"  | sort: "date" | reverse %}
<ul>
  {% for paper in working_papers %}
    <li>
      {% if paper.link %}
        <strong><a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a></strong>
      {% else %}
        <strong>{{ paper.title }}</strong>
      {% endif %}
      <br>
      {{ paper.authors }}<br>
      {% if paper.preliminary %}
        <small><em>{{ paper.preliminary }}</em></small><br>
      {% endif %}
      {% if paper.award %}
        {% if paper.highlighted_award %}
          <em style="color: red;">{{ paper.award }}</em><br>
        {% else %}
          <em>{{ paper.award }}</em><br>
        {% endif %}
      {% endif %}

    </li>
  {% endfor %}
</ul>


<!-- Journal Publications Section -->
<!-- <h1>Journal Publications</h1>
<hr>
{% assign journal_papers = site.publications | where: "category", "Journal Publications"  | sort: "date" | reverse %}
<ul>
  {% for paper in journal_papers %}
    <li>
      <strong>{{ paper.title }}</strong><br>
      {{ paper.authors }}<br>
      {{ paper.journal }}{% if paper.status %} ({{ paper.status }}){% endif %}<br>
      {% if paper.preliminary %}
        <small>Preliminary version: {{ paper.preliminary }}</small>
      {% endif %}
      {% if paper.award %}
        <em>{{ paper.award }}</em><br>
      {% endif %}
    </li>
  {% endfor %}
</ul> -->


